.classify {
  flex-direction: column;
  width: 100%;
  .tabsBox{
    height: 100%;
    background-color: red;
    .tabView{
      height: 100%;
      padding: 100px 50px;
      text-align: center;
      background-color: #FAFBFC;
    }
  }
}
